---
layout: default
---

<div class="tagheader">
  <p><ion-icon name="pricetag"></ion-icon> {{page.tag-name}}</p>
</div>

{% bookshop page-heading title=page.title description=page.description %}

<div class="container animate">
  <div class="row" data-pagebreak="9">
    {% for event in site.evenements reversed %}
      {% if event.categories contains page.tag-name %}
        {% bookshop event-card event=event %}
      {% endif %}
    {% endfor %}
  </div>
</div>

{% bookshop_include tag-pagination %}