---
layout: default
---

<div class="container">

  {% bookshop page-heading title=page.title description=page.subtitle %}
  {% assign page_image = site.baseurl | append: page.image %}
  {% bookshop page-image image=page_image %}

  <div class="page animate">
    {{ content }}
  </div>

  {% if page.next.url %}
  <div class="project__navigation animate">
    <a class="project__prev" href="{{site.baseurl}}{{page.next.url}}">
      <div class="project__box">
        <span class="project__nav__info">Découvrez</span>
        <h2 class="project__nav__title">{{page.next.title}}<ion-icon name="arrow-forward"></ion-icon></h2>
      </div>
    </a>
  </div>
  {% endif %}

</div>