/* Hero */
.c-description-center { $c: &;
	padding: 96px 0;

	@media only screen and (max-width: $desktop) {
		padding: 80px 0;
	}

	@media only screen and (max-width: $tablet) {
		 padding: 40px 0 80px;
	}

	@media only screen and (max-width: $mobile) {
		padding: 30px 0 60px;
	}

	&__inner {
		display: flex;
		align-items: center;
		flex-direction: column;
		width: 90%
		margin-left 5%;
	}

	&__title {
		margin-bottom: 20px;
		font-size: 40px;
		color: $heading-font-color;

		@media only screen and (max-width: 1130px) {
			font-size: 32px;
		}

		@media only screen and (max-width: $desktop) {
			font-size: 28px;
			margin-bottom: 20px;
		}

		@media only screen and (max-width: $mobile) {
			font-size: 24px;
		}
	}

	&__description {
		p {
			margin-bottom: 16px;
			font-size: 18px;
			line-height: 1.6;
			color: $text-color;

			@media only screen and (max-width: $desktop) {
				font-size: 16px;
			}
		}	
	}

	&__btn {
		display: flex;
		align-items: center;
		margin-top: 40px;

		.cta-button {
			margin-right: 8px;
		}

		.works-button {
			&:hover {
				.circle-bg {
					transition: all .2s cubic-bezier(.215,.61,.355,1);
					transform: scale(.94);
				}
			}

			.circle-bg {
				display: flex;
				align-items: center;
				justify-content: center;
				min-width: 18px;
				height: 18px;
				margin-right: 8px;
				font-size: 14px;
				border-radius: 50%;
				will-change: transform;
				background: linear-gradient(90deg, $primary-color 0%, $secondary-color 167%);
				transition: all .2s cubic-bezier(.215, .61, .355, 1);
			}

			.button-arrow {
				color: $white;
			}
		}

		@media only screen and (max-width: $desktop) {
			margin-top: 32px;
		}

		@media only screen and (max-width: $mobile) {
			.cta-button,
			.works-button {
				font-size: 15px;
			}
		}
	}
}