<!-- begin event -->
<section class="section projects animate"  id="events">
  <div class="container">
    <div class="row">
      <div class="col col-12">

        <div class="section__info">
          <div class="section__head">
            <h2 class="section__title">{{ include.title }}</h2></div>
          <div class="section__description">{{ include.description_html }}</div>
        </div>

        {% if include.show_events %}
          {% assign now = 'now' | date: '%s' %}
          <div class="event__slider my-slider">
            {% for event-item in site.evenements %}
              {% assign ts = event-item.event_date | date: "%s" %}
              {% if ts >= now %}
                {% bookshop event-card event=event-item %}
              {% endif %}
            {% endfor %}
          </div>
        {% endif %}
        
        <ul class="controls list-reset" id="customize-controls" aria-label="Slider Navigation" tabindex="0">
          <li class="prev" data-controls="prev" aria-controls="customize" tabindex="-1">
            <ion-icon name="arrow-back"></ion-icon>
          </li>
          <li class="next" data-controls="next" aria-controls="customize" tabindex="-1">
            <ion-icon name="arrow-forward"></ion-icon>
          </li>
          <a href="{{ site.baseurl }}{{ include.button_link }}" class="cta-button c-button c-button--primary c-button--small">{{ include.button_text }}</a>
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- end event -->