<div class="container">
  <div class="pagination__inner">

    <div class="pagination__list">

      <a class="pagination__prev" data-pagebreak-control="prev"><ion-icon name="arrow-back"></ion-icon> Précedents</a>


      <div class="pagination__count">
        Page
        <span data-pagebreak-label="current">1</span>
        sur
        <span data-pagebreak-label="total">1</span>
      </div>


      <a class="pagination__next"  data-pagebreak-control="next">Suivants<ion-icon name="arrow-forward"></ion-icon></a>

    </div>

  </div>
</div>