ion-icon.addnote {
  position: absolute;
  background-color: rgb(109, 159, 113);
  padding: 8px;
  border-radius: 50%;
  display: none;
  color: white;
  cursor: pointer;
}

// These enable notes in markdown
code.placeholder,
em + code {
  position: absolute;
  right: calc(42px - 40vw);
  background-color: #6D9F71;
  padding: 16px;
  padding-top: 44px;
  overflow: hidden;

  
  font-size: .8rem;
  line-height: 1rem;
  text-align: left;


  width: 40vw;
  
  -webkit-box-shadow: 2px 1px 8px -4px #565656; 
  box-shadow: 2px 1px 8px -4px #565656; 

  transition: all .16s ease-in-out;
  opacity: 33%;
  color: white;
  border-radius: 5px;

  @media only screen and (max-width: $mobile) {
    width: 90vw;
    right: calc(36px - 90vw);
  }

  @include no-print;

  textarea:focus, textarea {
    overflow: auto;
    height: 200px;
    font-size: .7rem;
    width: 100%;
    border: none;
    background: transparent;
    color: white;
    outline: none;
  }
  

  
  ion-icon {
    color: white;

    z-index: 100;
    position: absolute;
    top: 12px;
    font-size: 24px;
    cursor: pointer;

    &.toggle {
      left: 12px;
      transform: rotate(180deg);
      transition: transform .25s ease-in-out;
    }

    &.moreoptions {
      right: 12px;
      transition: transform .25s ease-in-out;

      &.hidden {
        transform: rotate(45deg);
      }
    }
    &.delete {
      right: 12px;
      top: 48px;
      transition: right .2s ease-in-out;

      &.hidden {
        right: -30px;
      }
    }

    &.issue {
      right: 12px;
      top: 84px;
      transition: right .2s ease-in-out;

      &.hidden {
        right: -30px;
      }
    }


    &.color {
      right: 48px;
    }
    &.priority {
      right: 84px
    }

    &.save {
      right: 120px;
      transition: top .2s ease-in-out;

      &.hidden {
        top: -30px;
      }
    }
    

  }
  


  &:hover {
    opacity: 66%;
  }

  &.out:hover {
    opacity: 100%;
  } 

  @include color-variants;
}

em.annoted {
  background-color: #96bb99;
  cursor: pointer;
  color: white;
  padding: 4px;

  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; 

  @include color-variants;
}

code.out {
  opacity: 100%;
  right: 24px;
  z-index: 10;

  -webkit-box-shadow: 2px 1px 8px 2px #565656;
  box-shadow: 2px 1px 8px 2px #565656;

  &.odd {
    right: 36px;
  }

  ion-icon.toggle {
    transform: rotate(0deg);
  }
  
  @media only screen and (max-width: $mobile) {
    right: 5vw;

    &.odd {
      right: 5vw;
    }
  }

}

.obsoleteNote {
  background-color: #6D9F71;
  margin-bottom: 8px;
  padding: 8px;
}