<!-- begin blog -->
<section class="section blog">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        <div class="contaniner__inner animate">

          <div class="section__info">
            <div class="section__head">
              <h2 class="section__title">{{ include.title }}</h2>
              <a class="section__link" href="{{site.baseurl }}{{ include.link_url }}">Toutes les ressources <ion-icon name="arrow-forward"></ion-icon></a>
            </div>
            <div class="section__description">{{ include.description_html }} </div>
          </div>

          {% if include.show_posts %}
          <div class="row">
            {% if site[include.collection]size > 0 %}
              {% for post in site.[include.collection] reversed %}
                {% if forloop.index <= 3 %}
                  {% bookshop blog-card post=post %}
                {% endif %}
              {% endfor %}
            {% endif %}
          </div>
          {% endif %}

        </div>
      </div>
    </div>
  </div>
</section>
