{% assign c = "c-event-card" %}
<div class="{{c}} col col-4 col-d-6 col-t-12">
  <a class="{{c}}__inner" href="{{ site.baseurl }}{{ include.event.url }}">

    {% if include.event.image %}
    <div class="{{c}}__image-wrap">
      <div class="{{c}}__image">
        <img loading="lazy" src="{{ site.baseurl }}{{ include.event.image }}" alt="{{ include.event.title }}">
      </div>
    </div>
    {% endif %}

    <div class="{{c}}__content">

      <div class="{{c}}__meta">
        <div class="{{c}}__marker-icon flex-center">
          <ion-icon name="alarm"></ion-icon>
        </div>
        <div class="{{c}}__info">
          <div class="{{c}}__address_name"> 
            Du <time datetime="{{ include.event.event_date | date_to_xmlschema }}">{{ include.event.event_date | date_to_string}}</time>
            à <time datetime="{{ include.event.event_date | date_to_xmlschema }}">{{ include.event.event_date | date: "%H:%M"}}</time>
          </div>
        </div>
      </div>

      {% if include.event.end_date %}
      <div class="{{c}}__meta">
        <div class="{{c}}__marker-icon flex-center">
          <ion-icon name="hourglass"></ion-icon>
        </div>
        <div class="{{c}}__info">
          <div class="{{c}}__address_name">
            Au <time datetime="{{ include.event.end_date | date_to_xmlschema }}">{{ include.event.end_date | date_to_string}}</time>
            à <time datetime="{{ include.event.end_date | date_to_xmlschema }}">{{ include.event.end_date | date: "%H:%M"}}</time>
          </div>
        </div>
      </div>
      {% endif %}
    
    <h2 class="{{c}}__title">{{ include.event.title }}</h2>
    
      <p class="{{c}}__excerpt">
        {% if include.event.description %}{{ include.event.description }}{% else %}{{ include.event.content | strip_html | truncate: 120 }}{% endif
        %}
      </p>
      

      <div class="{{c}}__meta">          
          <div class="{{c}}__marker-icon flex-center">
            <ion-icon name="map"></ion-icon>
          </div>
          <div class="{{c}}__info">
            <div class="{{c}}__address_name">{{ site.data.locations[include.event.location].name }}</div>
            <span class="{{c}}__city">{{ site.data.locations[include.event.location].city }}</span>
          </div>
      </div>

    </div>
  </a>
</div>