{% assign filteredRessources = site.ressources %}

{% if page.playlist.by_tag %}
  {% for tag in page.playlist.by_tag %}
    {% assign filteredRessources = filteredRessources | where_exp: "item", "item.tags contains tag" %}
  {% endfor %}
{% endif %}

{% if page.playlist.by_folder %}
  {% for folder in page.playlist.by_folder %}
    {% assign filteredRessources = filteredRessources | where_exp: "item", "item.folders contains folder" %}
  {% endfor %}
{% endif %}

{% assign playlistName = page.playlist.name | default: "Liste de lecture" %}

{% unless page.playlist.reverse %}
  {% assign filteredRessources = filteredRessources | reverse %}
{% endunless %}

<!-- Find current page in the filtered list -->
{% for ressource in filteredRessources %}
  {% if page.title == ressource.title %}
    {% assign currentIndex = forloop.index %}
  {% endif %}
{% endfor %}

{% if filteredRessources.size > 1 %}
<div class="playlist animate">
  <div id="playlist__toggle">
    <ion-icon class="when-out" name="chevron-down"></ion-icon>
    <ion-icon class="when-in" name="list"></ion-icon>
  </div>
  <div class="playlist__header">
    <h2>{{playlistName}}</h2>
    <a href="{% if currentIndex > 1 %}{{ filteredRessources[currentIndex - 2].url }}{% endif %}" class="playlist__header_prev {% if currentIndex <= 1 %}disabled{% endif %}">
      <ion-icon name="chevron-back"></ion-icon>
    </a>
    <span class="playlist__header_count">{{currentIndex }}/{{ filteredRessources.size }}</span>
    <a href="{% if currentIndex + 1 < filteredRessources.size %}{{filteredRessources[currentIndex].url }}{% endif %}" class="playlist__header_next {% if currentIndex > filteredRessources.size %}disabled{% endif %}">
      <ion-icon name="chevron-forward"></ion-icon>
    </a>
  </div>
  <ol class="playlist__list">
    {% for ressource in filteredRessources %}
      <li class="playlist__item {% if page.title == ressource.title %} playlist__current_item{% endif %}">
        <a {% if page.title != ressource.title %}href="{{ ressource.url }}"{% endif %} class="playlist__item_link">
          <img loading="lazy" src="{{ site.baseurl }}{{ ressource.image }}" alt="{{ ressource.title }}">
          <h3 class="playlist__item_name">{{ forloop.index }}. {{ ressource.title }}</h3>
        </a>
      </li>
    {% endfor %}
  </ul>
</div>
{% endif %}